<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Studies:</b> <%= @user.studies.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @studies.any? %>
      <ul class="pieces">
        <%= render @studies %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>