<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @piece.title %>
</p>

<p>
  <b>Author:</b>
  <%= @piece.author_id %>
</p>

<p>
  <%= render :file => 'data/' + @piece.filename %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
